<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thống kê Product</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <link rel="stylesheet" th:href="@{css/nav.css}">
</head>
<body>
<header th:insert="~{components/header}"></header>
<h2>Thống kê sản phẩm theo ngày</h2>
<form action="/huy">
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="inputTime" class="form-label">Input Date:</label>
            <input type="date" id="inputTime" name="inputTime" class="form-control" th:value="${inputTimeDaNhap}" required>
        </div>
        <br>
        <input type="submit">
    </div>
</form>

<h2>Danh sách Sản phẩm</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Input Time</th>
    </tr>
    <tr th:each="product : ${list}" >
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.status}"></td>
        <td th:text="${product.inputTime}"></td>
    </tr>

</table>
</body>
</html>