<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thống kê Product</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <link rel="stylesheet" th:href="@{css/nav.css}">
</head>
<body>
<header th:insert="~{components/header}"></header>
<h2>Thống kê sản phẩm theo loại</h2>
  <form th:action="@{/statistics/product_types}">
    <label>
      Chọn loại sản phẩm
      <select name="product_type_id">
        <option th:selected="${productTypeId == proType.id}" th:each="proType : ${productTypeList}" th:text="${proType.name}"
        th:value="${proType.id}"></option>
      </select>
      <input type="submit">
    </label>

  </form>

<h2>Danh sách Sản phẩm</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Status</th>
  </tr>
  <tr th:each="product : ${listProduct}" >
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.status}"></td>
  </tr>

</table>
</body>
</html>