<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật sản phẩm</title>
    <style>
        /*nav {*/
        /*    background-color: #333;*/
        /*    overflow: hidden;*/
        /*}*/

        /*nav a {*/
        /*    float: left;*/
        /*    display: block;*/
        /*    color: white;*/
        /*    text-align: center;*/
        /*    padding: 14px 16px;*/
        /*    text-decoration: none;*/
        /*}*/

        /*nav a:hover {*/
        /*    background-color: #ddd;*/
        /*    color: black;*/
        /*}*/
    </style>
    <link th:href="@{/css/nav.css}" rel="stylesheet">
</head>
<body>
    <header th:insert="~{components/header}"></header>
<h3>Cập nhật sản phẩm</h3>
<form th:action="@{/products/update}"  method="post" th:object="${product}">
    <input type="hidden" th:value="${product.id}" th:field="*{id}">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:value="${product.name}" th:field="*{name}" style="width: 300px;height: 30px; font-size: 16px"><br>

    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" th:value="${product.price}" th:field="*{price}" step="0.001" style="width: 300px;height: 30px; font-size: 16px">
    <br><br>

    <label for="status">Status: </label><br>
    <select th:field="*{status}" id="status" class="form-control" aria-label="Default select example" style="width: 300px;height: 30px; font-size: 16px">
        <option th:selected="${product.status == productStatus}" th:each="productStatus : ${productStatuses}" th:value="${productStatus}" th:text="${productStatus.name()}"></option>
    </select><br><br>

<!--    <label for="inputTime">Input time:</label><br>-->
<!--    <input type="datetime-local" id="inputTime" name="inputTime" th:value="${product.inputTime}" th:field="*{inputTime}" style="width: 300px;height: 30px; font-size: 16px"><br><br>-->

    <label for="inputTime">Input time:</label><br>
    <input type="datetime" id="inputTime" name="inputTime" th:value="${product.inputTime}" th:field="*{inputTime}" style="width: 300px;height: 30px; font-size: 16px"><br><br>


    <label>
        Loại sản phẩm: <br>
        <select th:field="*{productType.id}" style="width: 300px;height: 30px; font-size: 16px">
            <option th:each="proType:${productTypeList}" th:value="${proType.id}" th:text="${proType.name}" th:selected="${product.productType.name==proType.name}"></option>
        </select>
    </label><br><br>

    <input type="submit">
</form>
</body>
</html>